# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

app/classes/Siavcom
app/composables/comeutl.ts
app/composables/contutl.ts

app/pages/COM
app/pages/CXC
app/pages/CXP
app/pages/INV
app/pages/VEN
app/pages/VTA
