div.ThisForm {
  background: white;
  margin-left: -3%;
  display: inline-block;
}

section.pagina {
  background: white;
  color: #b94295;
  min-width: 375px;
  min-height: 812px;

  /* margin-top: 250px; */
}
div.mainForm {
  height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
}

div.backGround {
  border: 1px solid green;
  border-radius: 10px;
  padding: 60px;
  background-color: #f2f4f5;
  width: 100%;
  height: 100%;
  /*background-image: url(v-bind("props.backgroundImage"));*/
  /* opacity: 0.5;*/
}

div.divi {
  /*display: inline-flex; / recomendado por raul*/
  display: inline-flex;
  color: #18e94c;
  background: #f7f8f7;
  /* position: v-bind("props.posicion.position");
  left: v-bind("props.posicion.left");
  top : v-bind("props.posicion.top");*/
  /*z-index: v-bind("props.style.zIndex");*/
  text-align: left;
  margin: auto;

  height: 98%;
  /*  min-width: max-content;*/
  flex-shrink: 0; /* adjustment para que funcione el width */
  /* box-shadow: 0 0 5px 0.5px gray; */

  border-radius: 3px;
  /* box-shadow: <offset-x> <offset-y> <blur-radius> <spread> <color>; */
}
div.json {
  border-radius: 3px;
}

div.textLabel {
  border-radius: 3px;
  height: 80%;
}
div.mensajes {
  display: inline-flex; /* recomendado por raul*/
  width: 100%;
  height: 100%;
}

div.img {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0, 0 6px 20px 0;
  box-sizing: border-box;
  width: 80px;
  height: auto;
  border-radius: 10%;
  padding: 0px;
  z-index: v-bind("props.style.zIndex");
}

label.error {
  position: relative;
  background: #f7f8f7;
  color: #f10c0c;
  text-align: center;
  visibility: visible;
  padding: 5px 0; /*relleno alrededor */
  border-radius: 5%;
  border-color: black;
  z-index: 2;
  /* bottom: 125%;
  left: 50%;
  margin-left: -60px;
  */
  /* Fade in tooltip */
  opacity: 1;
}
/* Caption del texLabel */
span.Caption {
  color: rgb(0, 0, 0);
  width: auto;
}

span.etiqueta {
  height: 90%;
  margin-top: 4px;
  margin-right: 3px;
}

input.text {
  border: 1px solid rgb(0, 5, 2);
  padding: "5px";
  border-radius: 3px;
  text-align: left;
  width: 96%;
  margin-top: 2;
  z-index: 1;
  /*min-width: 50%; */
}

.imgButton {
  border-radius: 10%;
  box-shadow: 0 4px 8px 0, 0 6px 20px 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.img {
  /*filter: invert(1);
transform: scale(2) translate(0px, 10px);*/
  display: block;
  width: 100%;
}

.button:hover {
  background-color: rgb(109, 134, 113);
}

input.checkBox {
  border: 1px solid rgb(0, 5, 2);
  /*padding: "5px";*/
  border-radius: 3px;
  text-align: left;
  width: 96%;
  accent-color: rgb(163, 193, 168);
  z-index: 1;

  /*min-width: 50%; */
}

input.date {
  border: 1px solid rgb(0, 5, 2);
  /*padding: "5px";*/
  border-radius: 3px;
  text-align: left;
  width: 96%;
  min-width: max-content;
  z-index: 1;
}

input[class="number"] {
  border: 1px solid rgb(0, 5, 2);
  /*padding: "5px";*/
  border-radius: 3px;
  text-align: right;
  width: 96%;
  z-index: 1;
}

/* Tooltip and error container */
.mensajes {
  position: relative;
  /*  display: inline-block;*/
  /* border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  /*min-width: 50%; */
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 120px;
  min-height: 11px;
  max-height: 33px;
  background-color: #76a184; /*rgb(115, 181, 243);*/
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 3px;
  /* Position the tooltip text */
  position: absolute;
  /* z-index: 1000; */
  bottom: 125%;
  left: 10%;
  margin-left: -60px;

  /* Fade in tooltip */
  /* opacity: 1; */
  /* transition: opacity 0.2s ease; */
}

/* Tooltip arrow */
.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 2px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.inputDivi:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* error container */
.error {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.flipswitch {
  position: relative;
  background: white;
  width: 120px;
  height: 40px;
  -webkit-appearance: initial;
  border-radius: 3px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  font-size: 14px;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #ddd;
}

.flipswitch:after {
  position: absolute;
  top: 5%;
  display: block;
  line-height: 32px;
  width: 45%;
  height: 90%;
  background: #fff;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s ease-in 0s;
  color: black;
  border: #888 1px solid;
  border-radius: 3px;
}

.flipswitch:after {
  left: 2%;
  content: "OFF";
}

.flipswitch:checked:after {
  left: 53%;
  content: "ON";
}

[type="checkbox"]:checked + span:before {
  content: "\2714";
  position: absolute;
  top: -5px;
  left: 0;
}

/*
.blinking{
  animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
  0%{     color: #000;    }
  49%{    color: #000; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #000;    }
}
*/

/* Erorr text */
.errorText {
  /* height: fit-content; */
  /*visibility: visible; */
  background-color: rgb(255, 255, 255);
  color: rgb(245, 9, 9);
  text-align: center;
  /* padding: 5px 0;*/
  border-radius: 3px;
  /*border-color: #f10c0c;*/

  /* Position */
  position: absolute;
  /*bottom: 50%; */
  border-style: double;
  z-index: 2;

  /* arrow*/
  content: " ";
  /*left: 64px;*/
  bottom :18px;
  border-width: 0 px;
  /*border-style: solid; */
  /*background-color: transparent;*/
  /* border-color: #555 transparent transparent transparent; */

  /* Fade in tooltip */
  min-width: max-content;
  opacity: 0.9;
  transition: opacity 0.2s ease;
  animation: blinkingText 1.2s infinite;
}



@keyframes blinkingText {
  0% {
    color: rgb(248, 8, 8);
  }
  49% {
    color: rgb(248, 7, 7);
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: rgb(248, 4, 4);
  }
}

.footer {
  /* flex-direction: row-reverse;*/
}

.transition-group {
}

/* ===============Spinner ======================  */
.splash-screen {
  background: #f2f0ee;
  width: 40px; /*60vw;*/
  height: 40px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 6px;
  border: 3px;
  z-index: 50;
}

.spinner-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}
.spinner {
  width: 80px;
  height: 80px;
  margin: 100px auto;
  background-color: #e45447;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.ruter-link-acrive {
  color: red;
  @apply text-blue-500;
}
/* Tooltip arrow */
/*
.error .errortext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
*/
/* Show the tooltip text when you mouse over the tooltip container */
/*
.error:hover .errortext {
  visibility: visible;
  opacity: 1;
}
*/
